$backgorund-primary: #eeeeee;
$btn-primary: #fedc40;
$accents: #b497cf;
$accents_transparent: #ebe5f1;
$footer: #414e52;
$gray: #d9d9d9;
$line_color: #5a6d73;
$font_size: 16px;
$font_family: "Roboto", sans-serif;
$black: black;
$white: #fff;
$green: #33bf8a;
$blue: #89bfe8;
$star_gray: #e5e5e5;
$star_yellow: #efa650;
$container-padding: 50px 0 80px 0;
$sectionPadding: 100px;
$transition: 0.4s ease-in-out;
/*breakpoints*/

$breakPoint_1: 1570px;

$breakPoint_2: 1300px;
$breakPoint_3: 1200px;
$breakPoint_4: 1050px;
$breakPoint_5: 860px;
$breakPoint_6: 768px;
$breakPoint_6_b: 590px;
$breakPoint_7: 460px;
